#Home{
background-image: url(Group\ 1.1.png);
position:absolute;
width: 1345px;
height: 900px;
}

#back{
position: absolute;
left: 37px;
top: 20px;

}

#logo{
position: absolute;
left: 80px;
top: 15px;

}

#text{
position: absolute;
left: 140px;
top: 15px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
text-align: center;

color: #F9B23D;


}

#player1{
position: absolute;
left: 220px;
top: 100px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
text-align: center;

color: #000000;


}

#com{
position: absolute;
left: 850px;
top: 100px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
text-align: center;

color: #000000;

 
}

#batu-player1{
position: absolute;
left: 260px;
top: 180px;

}

#kertas-player1{
position:absolute;
left: 260px;
top: 300px;
}

#gunting-player1{
position:absolute;
left: 260px;
top: 460px;
}

#batu-com{
position: absolute;
left: 850px;
top: 180px;
    
}
    
#kertas-com{
position:absolute;
left: 850px;
top: 300px;
}
    
#gunting-com{
position:absolute;
left: 850px;
top: 460px;
}

#VS{
position: absolute;
left: 480px;
top: 260px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 120px;
text-align: center;
text-transform: uppercase;

color: #BD0000;


}

#refresh{
position: absolute;
left: 540px;
top: 560px;

}

#rectangle{
position: absolute;
width: 271.11px;
height: 166.93px;
left: 450px;
top: 260px;
color:white;
font-size: 38px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
background: #4C9654;
border-radius: 10px;
transform: rotate(-28.87deg);
padding: 20;
}

#rectangle2{
position: absolute;
width: 271.11px;
height: 166.93px;
left: 450px;
top: 260px;
color:white;
font-size: 38px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
text-align: center;
letter-spacing:0.2em;
text-transform: uppercase;
background: #4C9654;
border-radius: 10px;
transform: rotate(-28.87deg);
padding: 20;
}

#rectangle3{
position: absolute;
width: 271.11px;
height: 166.93px;
left: 450px;
top: 260px;
color:white;
font-size: 38px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
text-align: center;
letter-spacing:0.1em;
background: #035B0C;
border-radius: 10px;
transform: rotate(-28.87deg);
padding: 40;
}

#rectangle4{
    position: absolute;
    width: 271.11px;
    height: 166.93px;
    left: 450px;
    top: 260px;
    color:white;
    font-size: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background:red;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    padding: 20;
    }

    #rectangle5{
        position: absolute;
        width: 271.11px;
        height: 166.93px;
        left: 450px;
        top: 260px;
        color:white;
        font-size: 38px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background:red;
        border-radius: 10px;
        transform: rotate(-28.87deg);
        padding: 20;
        }