html {
    overflow-x: hidden;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    opacity:0.6;
    
  }
  li a {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 14px 60px;
    margin-right: 50px;
    font-weight:700;
  }

  li b {
    float: left;
  }

  li b {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 20px 20px;

}

  li g {
    float:right;
  }

  li g {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 20px 20px;
    margin-right: 10% ;
  }

  li i {
    float:right;
  }

  li i {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 20px 20px;
  }
  
  
  li :hover {
    background-color:red;
  }

#mainscreen{
    background: url(gambar_1.jpg);
    background-color: white;
    position:relative;
    height: 960.09px;
}
  #rectangle2 {
position: absolute;
width: 1441.55px;
height: 960.14px;
left: 0px;
top: 63.11px;

  }

#play {
position: absolute;
height: 73.12px;
left: 9.22%;
right: 10.47%;
top:30%;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 83px;
text-align: center;
letter-spacing: 3px;
text-transform:uppercase;

color: #FFFFFF;

}

#experience {
position: absolute;
left: 33.84%;
right: 29.66%;
top: 46.23%;
bottom: 50.89%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFFFFF;


}

#rectangle1 {
position: absolute;
left: 40.83%;
right: 41.09%;
top: 55.07%;
bottom: 38.68%;
text-align: center;
padding: 15px;
font-weight: bold;
background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
border-radius: 4px;

}

#Thestory {

position: absolute;
left: 47.66%;
right: 47.61%;
top: 91.03%;
bottom: 6.4%;

font-family: 'Open Sans',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 11px;
text-align: center;

color: #FFFFFF;


}

#scrolldown {
position: absolute;
left: 660.32px;
top: 898.53px;

}

#about{
  background: url(bg_image_2.jpg);
  background-color: white;
  position:relative;
  height: 960px;
  
}

#gelap {
position: absolute;

}

#What{
position: absolute;
left: 3.7%;
right: 76.09%;
top: 28.48%;
bottom: 68.64%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFFFFF;


}

#carousel-game {
display: flex;
position: absolute;
left: 405px;
top: 318.7px;


}

#thegames{
position: absolute;
height: 73.64px;
left: 3.42%;
right: 66.01%;
top: calc(50% - 73.64px/2 - 133.59px);

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;

color: #FFFFFF;


}

#switch1 {
position: absolute;
width: 34px;
height: 16px;
left: 380px;
top: 537.7px;

}

#switch2 {
position: absolute;
width: 34.07px;
height: 13.74px;
left: 1270.82px;
top: 537.7px;

}

#features  {
background: url(bg_image_3.jpg);
background-color: white;
position:relative;
height: 870px;

}

#kotak1 {
position: absolute;
width: 1441.62px;
height: 870.26px;
left: 0.38px;
background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);

}

#what {
position: absolute;
left: 55.52%;
right: 26.29%;
top: 26.96%;
bottom: 70.16%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFFFFF;


}
 
#feature {
position: absolute;
height: 73.64px;
left: 55.25%;
right: 16.22%;
top: 30.96%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;


}

#lingkarankecil1 {
position: absolute;
width: 14px;
height: 14px;
left: 740.62px;
top: 445.91px;

}

#progressbar {
position: absolute;
width: 141.03px;
height: 0px;
left: 748.42px;
top: 460.51px;

}

#tradtional {
position: absolute;
width: 348.2px;
height: 38.23px;
left: 752.29px;
top: 445.6px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 2px;

color: #FFB548;


}

#explanation1 {
position: absolute;
left: 58.44%;
right: 16.42%;
top: 56.32%;
bottom: 41.58%;

font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #FFFFFF;


}

#lingkarankecil2 {
position: absolute;
width: 14px;
height: 14px;
left: 741.21px;
top: 594.68px;

}

#gamesuit{
position: absolute;
width: 366.44px;
height: 38.23px;
left: 785.04px;
top: 594.45px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;

}

#lingkarankecil3{
position: absolute;
width: 14px;
height: 14px;
left: 741.21px;
top: 671.6px;


}

#tbd{
position: absolute;
width: 348.2px;
height: 38.23px;
left: 785.04px;
top: 670.39px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#requirements{
background: url(bg_image_4.jpg);
background-color: white;
position:relative;
height: 900px;

}

#system {
position: absolute;
height: 73.64px;
left: 9.02%;
right: 47.07%;
top:10%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;


}

#can{
position: absolute;
left: 39.27%;
right: 36.26%;
top: 10.12%;
bottom: 82%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 2px;

color: #FFFFFF;


}

#os{

position: absolute;
left: 10.67%;
right: 72.19%;
top: 45.02%;
bottom: 55.1%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#windows{
position: absolute;
left: 10.67%;
right: 72.47%;
top: 49.58%;
bottom: 49.74%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 22px;

color: #FFFFFF;


}

#processor{

position: absolute;
left: 30.83%;
right: 53.03%;
top: 45.02%;
bottom: 55.1%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#intel{

position: absolute;
left: 30.83%;
right: 53.27%;
top: 49.57%;
bottom: 48.77%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;

color: #FFFFFF;



}

#memory{
position: absolute;
left: 10.07%;
right: 72.8%;
top: 60.11%;
bottom: 42.01%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#ram{
position: absolute;
left: 10.07%;
right: 82.72%;
top: 64.76%;
bottom: 38.38%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #FFFFFF;


}

#storage{
position: absolute;
left: 30.83%;
right: 53.03%;
top: 60.11%;
bottom: 42.01%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#space{
position: absolute;
left: 30.83%;
right: 57.87%;
top: 64.76%;
bottom: 36.66%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


}

#graphic{
position: absolute;
left: 10.07%;
right: 72.8%;
top: 74.25%;
bottom: 27.86%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#nvidia{
position: absolute;
left: 10.07%;
right: 55.27%;
top: 78.91%;
bottom: 21.56%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


}

#vector5{
position: absolute;
width: 0px;
height: 250.88px;
left: 397.03px;
top: 388.5px;

}

#vector3{
position: absolute;
width: 572.85px;
height: 0px;
left: 120.57px;
top: 513.78px;

}

#vector4{
position: absolute;
width: 572.77px;
height: 0px;
left: 120.65px;
top: 630.38px;

}

#vector2{
position: absolute;
width: 573.2px;
height: 400.69px;
left: 120.22px;
top: 388.5px;

}

#quotes{
  background: url(bg_image_5.jpg);
  background-color: white;
  position:relative;
  height: 900px;
}

h1{
position: absolute;
height: 153.56px;
left: 8.15%;
right: 63.31%;
top: calc(50% - 153.56px/2 - 63.6px);

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
text-transform: uppercase;

color: #FFFFFF;


}

#text{
position: absolute;
left: 8.33%;
right: 65.35%;
top: 44.34%;
bottom: 49.72%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


}

#rectangle6{
position: absolute;
left: 8.12%;
right: 73.79%;
top: 54.45%;
bottom: 39.3%;
padding:15px;
text-align: center;
font-weight: bold;
background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

}

#rectangle3{
position: absolute;
left: 60.26%;
right: 8.31%;
top: 16.58%;
bottom: 64.37%;

}

#twitter1{
position: absolute;
left: 91.05%;
right: 9.69%;
top: 19.74%;
bottom: 78.81%;
mix-blend-mode: normal;
opacity: 0.3;

}

#bulat1{
position: absolute;
left: 840.23px;
top: 175.12px;
width: 65.27px;
  height: 65.27px;
  border-radius: 100%;
background: #FFB548;

}

#foto1{
position: absolute;
width: 65.27px;
height: 65.27px;
left: 829.92px;
top: 170.19px;

}

#nama1{
position: absolute;
left: 67.83%;
right: 13.98%;
top: 19.32%;
bottom: 77.8%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#workplace1{
position: absolute;
left: 67.83%;
right: 5.49%;
top: 21.55%;
bottom: 74.76%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #FFFFFF;

opacity: 0.5;

}

#bio1{
position: absolute;
left: 61.43%;
right: 13.76%;
top: 27.31%;
bottom: 69.54%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;


}

#date1{

position: absolute;
left: 61.42%;
right: 22.59%;
top: 31.35%;
bottom: 66.57%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;

}

#rectangle4{
position: absolute;
left: 50.12%;
right: 18.36%;
top: 38.76%;
bottom: 39.89%;

}

#twitter2{
position: absolute;
left: 80.91%;
right: 19.84%;
top: 41.9%;
bottom: 56.64%;
mix-blend-mode: normal;
opacity: 0.3;

}

#bulat2{
position: absolute;
left: 704.31px;
top: 367.97px;
width: 65.27px;
  height: 65.27px;
  border-radius: 100%;
background: #FFB548;

}

#foto2{
position: absolute;
width: 63.7px;
height: 63.49px;
left: 697.44px;
top: 365.56px;

}

#nama2{
position: absolute;
left: 57.69%;
right: 34.04%;
top: 41.49%;
bottom: 56.02%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#workplace2{
position: absolute;
left: 57.69%;
right: 15.63%;
top: 43.71%;
bottom: 52.61%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #FFFFFF;

opacity: 0.5;

}

#bio2{
position: absolute;
left: 51.28%;
right: 21.64%;
top: 49.45%;
bottom: 44.28%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;


}

#date2{
position: absolute;
left: 51.28%;
right: 32.72%;
top: 56.03%;
bottom: 42.1%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;

}

#rectangle5{
position: absolute;
left: 57.46%;
right: 11.02%;
top: 63.23%;
bottom: 15.41%;

}

#twitter3{
position: absolute;
left: 88.25%;
right: 12.5%;
top: 66.39%;
bottom: 32.15%;
mix-blend-mode: normal;
opacity: 0.3;

}

#bulat3{
  position: absolute;
  left: 799.96px;
  top: 583px;
  width: 65.27px;
  height: 65.27px;
  border-radius: 100%;
  background: #FFB548;
  
}

#foto3{
position: absolute;
width: 61.83px;
height: 61.83px;
left: 793.08px;
top: 581.51px;

}

#nama3{
position: absolute;
left: 65.03%;
right: 16.78%;
top: 65.97%;
bottom: 31.14%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;


}

#workplace3{
position: absolute;
left: 65.03%;
right: 8.29%;
top: 68.2%;
bottom: 28.11%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #FFFFFF;

opacity: 0.5;

}

#bio3{
position: absolute;
left: 58.63%;
right: 13.09%;
top: 73.96%;
bottom: 21.56%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;


}

#date3{
position: absolute;
left: 58.61%;
right: 25.4%;
top: 80.25%;
bottom: 17.66%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;

}

#footer{
position: absolute;
width: 1448.25px;
height: 959.87px;
left: 0px;

background: #080A0B;

}

#want{
position: absolute;
left: 46.87%;
right: 34.99%;
top: 22.94%;
bottom: 74.17%;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFFFFF;


}

#news{
position: absolute;
height: 76.28px;
left: 46.66%;
right: 6.37%;
top: calc(50% - 76.28px/2 - 185.31px);

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 92px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;


}

#bio4{

position: absolute;
left: 46.81%;
right: 8.46%;
top: 39.45%;
bottom: 46.33%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;


}

#rectangle7{
position: absolute;
width: 366.92px;
height: 60px;
left: 675.92px;
top: 510.7px;

background: rgba(255, 255, 255, 0.08);
border-radius: 5px;

}

#rectangle8{
position: absolute;
left: 73.51%;
right: 8.46%;
top: 53.19%;
bottom: 40.54%;

background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

}

#email1{
position: absolute;
width: 177.95px;
height: 20px;
left: 697.11px;
top: 516.85px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
border-radius: 4px;

}

#email2{
position: absolute;
left: 48.35%;
right: 23.45%;
top: 56.01%;
bottom: 39.49%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #FFB548;


}

#now{
position: absolute;
height: 22px;
left: 78.44%;
right: 13.52%;
top:55%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
text-align: center;

color:black;


}

#terbit{
position: absolute;
width: 339.88px;
height: 21.9px;
left:9%;
top:90%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;

}

#privacy{

position: absolute;
width: 443.29px;
height: 21.4px;
left:61.5%;
top:90%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;


}

#border{
position: absolute;
width: 0px;
height: 1197.82px;
left:9%;
top:86%;


}

#main{
position: absolute;
width: 67.51px;
height: 20.19px;
left:30%;
top:82%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;

color:#FFFFFF;


}

#about2{
position: absolute;
width: 65.81px;
height: 20.19px;
left:35%;
top:82%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;

color:#FFFFFF;


}

#gamefeatures{
position: absolute;
width: 154.8px;
height: 20.19px;
left:41%;
top:82%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;

color:#FFFFFF;


}

#systemrequirements{
position: absolute;
width: 190.29px;
height: 20.19px;
left:51%;
top:82%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;

color:#FFFFFF;


}

#quotes2{

position: absolute;
width: 64.83px;
height: 21.4px;
left:64%;
top:82%;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;


}

#fb{
  
position: absolute;
width: 9.23px;
height: 18.99px;
left:73%;
top:81%;

}

#tw{
position: absolute;
width: 21.01px;
height: 16px;
left:77%;
top:81%;

}

#Vector{
position: absolute;
left:82%;
top:81%;

}

#substract{
position: absolute;
width: 19.15px;
height: 18.16px;
left:88%;
top:81%;

}

#Vector2{
position: absolute;
left:88.4%;
top:81%;

}

#rectangle9{
position: absolute;
left:83.5%;
top:82.3%;

}

#batu{
position: absolute;
width: 412.35px;
height: 655.6px;
left:10%;
top: 72.34px;

}